body {
  background: url('chat-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#rooms {
  list-style-type: none;
  padding: 0;
}

#rooms li {
  display: inline;
  margin: 0 10px;
}

#users-view {
  border: solid 2px #111;
  border-radius: 5px;
  margin-left: 10px;
}

#users-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#bar {
    text-align: center;
    height: 25px;
    background-color: #DAD9D9;
    margin-top: 10px;
    min-width: 500px;
    font-family: monospace;
    float: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -49%;
    bottom: -20%;
    position:relative;
}

#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -45%;
    bottom: 40%;
    position:relative;
    display: block;
}

#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}

#screen {
    background-color: #fcfcfc;
    min-width: 500px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 50px;
}