body {
  background: url('chat-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
}

#bar {
    text-align: center;
    height: 25px;
    background-color: #DAD9D9;
    margin-top: 150px;
    min-width: 500px;
    font-family: monospace;
    float: none;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#red {
    background-color: #E94B35;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -49%;
    bottom: -20%;
    position:relative;
}
#yellow {
    background-color: #f0f000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -45%;
    bottom: 40%;
    position:relative;
    display: block;
}
#green {
    background-color: #1AAF5C;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    left: -41%;
    bottom: 99%;
    position:relative;
    display: block;
}
#screen {
    background-color: #fcfcfc;
    height: 350px;
    min-width: 500px;
    border-radius: 2%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 50px;
}

#login {
  margin-top: 10px;
}

#title-login {
  margin-top: 0;
  padding-top: 25px;
}